{% extends "partials/conteneur.html" %}

{% block body %}

<h1>Classification des émotions</h1>

<ul>
    <li>La joie : c’est une émotion positive qui se caractérise par un sentiment de bonheur, de plaisir et de
        satisfaction.</li>
    <li>La tristesse : c’est une émotion négative qui se caractérise par un sentiment de peine, de douleur et de
        détresse.</li>
    <li>La colère : c’est une émotion négative qui se caractérise par un sentiment de frustration, d’agitation et de
        déplaisir.</li>
    <li>La peur : c’est une émotion négative qui se caractérise par un sentiment d’appréhension, d’anxiété et de menace.
    </li>
    <li>Le dégoût : c’est une émotion négative qui se caractérise par un sentiment de répulsion, de dégoût et de
        révulsion.</li>
</ul>
{% endblock %}